NODE_ENV=development
PORT=5000
API_PREFIX=/api
APP_NAME=KTV Management System API
MONGODB_URI=mongodb://localhost:27017/ktv_management_system
JWT_SECRET=asfbvaefavffdzbvavbfnnbvbnxdvzfnvndzfnvzdfv
JWT_EXPIRES_IN=7d
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_NAME=System Admin
DEFAULT_RECEPTIONIST_USERNAME=reception
DEFAULT_RECEPTIONIST_PASSWORD=reception123
DEFAULT_RECEPTIONIST_NAME=Front Desk
